@model IEnumerable<WebForum.Models.DB.Posts>

@{
    ViewData["Title"] = "PostsView";
}

<h2>PostsView</h2>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-sm-3">
                    @Html.DisplayFor(m => item.PostDescription)
                </td>                   
                <td>
                    @Html.DisplayFor(m => item.DatePosted)
                </td>
                <td>
                    @using (Html.BeginForm("Reply", "Thread", new { id = item.ThreadId }, FormMethod.Post))

                    {
                        @Html.HiddenFor(m => item.ThreadId)
                        <input type="submit" value="Reply" />
                    }
                </td>                               
            </tr>
        }
    </tbody>
</table>
