@model WebForum.Models.DB.Posts

<h1>
    Reply
</h1>

<hr />
<div class="row">
    <div class="col-md-4">

            @using (Html.BeginForm("ReplyForm", "Thread", FormMethod.Post))
            {
                <table cellpadding="2" cellspacing="2">
                    <tr>
                        <td>Reply</td>
                        <td>
                            @Html.TextAreaFor(m => m.PostDescription)
                        </td>
                    </tr>                  
                    <tr>
                        <td>
                            @Html.HiddenFor(m => m.ThreadId)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Reply" /></td>
                    </tr>
                </table>
            }

    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>

