@model IEnumerable<WebForum.Models.DB.Threads>

<h1>
    Threads
</h1>
            @{ 
                var catId = ViewBag.CategoryId;
            }
                        

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.ThreadTitle, "Posts", "Thread", new { threadId = item.ThreadId})
                </td>
            </tr>            

        }
    </tbody>

    <tfoot>
        <tr>
            <td>               
                @Html.ActionLink("New Thread", "NewThread", "Thread", new { categoryId = catId }, new { @class = "btn btn-default" })
            </td>
        </tr>
    </tfoot>
</table>
