@model IEnumerable<WebForum.Models.DB.Categories>
<h1>
    Categories
</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.CategoryDescription, "ThreadIndex", "Thread", new { categoryId = item.CategoryId })
                </td>
            </tr>
        }
    </tbody>
</table>
