@model IEnumerable<WebForum.Models.DB.Categories>
@{
    ViewData["Title"] = "Category Index";
}
    
<h2>Categories</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <form method="post">
                        <a href="/threadindex?categoryName=@item.CategoryDescription">@Html.DisplayFor(m => item.CategoryDescription)</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
