@model WebForum.Models.DB.UserAccounts


<h1>
    Login
</h1>
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("LoginForm", "UserAccounts", FormMethod.Post))
        {
            <div class="form-group">
                <div>
                    @Html.LabelFor(m => m.AccountName)
                </div>
                @Html.TextBoxFor(m => m.AccountName)
            </div>
            <div class="form-group">
                <div>
                    @Html.LabelFor(m => m.AccountPassword)
                </div>

                @Html.PasswordFor(m => m.AccountPassword)
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        }
    </div>
</div>




<div>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>

